[Unit]
Description=Client: Gets jobs, completes them, and returns results
Requires=network.target

[Service]
Type=simple
ExecStart=/home/vagrant/capstone2021/scripts/client.sh

[Install]
WantedBy=multi-user.target
