[Unit]
Description=Workserver: Flask server that hands out jobs and accepts results
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/home/vagrant/capstone2021/src/c21server/work_server
Environment="PATH=/home/vagrant/capstone2021/.venv/bin"
ExecStart=/home/vagrant/capstone2021/.venv/bin/gunicorn --bind 0.0.0.0:8080 --timeout 120 -m 007 work_server.WorkServer:app

[Install]
WantedBy=multi-user.target
