[Unit]
Description=Workgen: Generates jobs to be worked on
Requires=network.target

[Service]
Type=simple
ExecStart=/home/vagrant/capstone2021/scripts/workgen.sh

[Install]
WantedBy=multi-user.target
