<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Dashboard</title>
    </head>

    <body>
        <div class="dashboard">
            <div class="dashboard-heading">
                <h1>Dashboard</h1>
            </div>
            <div class="container flex">
                <div class="card flex">
                    <h2 class="error">{{jobs_waiting}}</h2>
                    <p>Job Waiting</p>
                </div>
                <div class="card flex">
                    <h2 class="warning">{{jobs_in_progress}}</h2>
                    <p>Jobs In Progress</p>
                </div>
                <div class="card flex">
                    <h2 class="success">{{jobs_done}}</h2>
                    <p>Jobs Done</p>
                </div>
            </div>

        </div>
    </body>

</html>